<div id="contenedor">
    <!-- Header Section con sombras -->
    <div id="contenedor-sombras-encabezado">
      <!-- Encabezado principal -->
      <div id="encabezado">
        <a href="http://www.unam.mx/" target="_blank">
          <img src="/assets/Images/logos/encabezado-unam.gif" alt="UNAM Logo" title="Universidad Nacional Autónoma de México, UNAM">
        </a>
        <img src="/assets/Images/backgrounds/fc08.jpg" alt="Encabezado Facultad de Ciencias" width="560" height="103" id="imagerotator">
      </div>
  
      <!-- Barra de navegación -->
      <div id="navegacion">
        <p>
          <a href="http://www.fciencias.unam.mx/contacto" title="Contáctanos">
            <img src="/assets/Images/icons/email.png" height="16" width="16" alt="" class="image-text">
            Contáctanos
          </a>
          |
          <a href="http://www.fciencias.unam.mx/meta/SiteMap" title="Mapa del sitio">
            <img src="/assets/Images/icons/sitemap_color.png" height="16" width="16" alt="" class="image-text">
            Mapa del sitio
          </a>
          |
          <a href="http://www.fciencias.unam.mx/directorio/busqueda" title="Directorio">
            <img src="/assets/Images/icons/group.png" height="16" width="16" alt="" class="image-text">
            Directorio
          </a>
          |
          <a href="http://mail.ciencias.unam.mx" target="_blank" title="Correo Ciencias">
            <img src="/assets/Images/icons/arroba.png" height="16" width="16" alt="" class="image-text">
            Correo
          </a>
        </p>
      </div>
    </div>
  
    <!-- Contenido principal -->
    <div id="contenido">
      <!-- Top interna con título -->
      <div id="topinterna">
        Acceso a Servicios en Línea
        <span id="logo"></span>
      </div>
  
      <!-- Área de información/formulario -->
      <div class="info-estudiantes2">
        <div id="info-contenido2">
          <!-- Alerta de error (se muestra con Vue) -->
          <div v-if="errorMessage" class="alert alert-error">
            {{ errorMessage }}
          </div>
  
          <!-- Alerta de información de conexión -->
          <div v-if="connectionStatus" class="alert alert-info">
            {{ connectionStatus }}
          </div>
  
          <!-- Formulario de acceso -->
          <form @submit.prevent="handleLogin" data-validate="submit" action="#" method="post" id="loginForm">
            <fieldset>
              <legend>
                <span class="nombre">Acceder</span>
              </legend>
  
              <div class="t-beaneditor-row">
                <label for="username" class="control-label">Nombre de Usuario:</label>
                <div class="input-wrapper">
                  <input 
                    v-model="username"
                    data-required-message="Tiene que ingresar un valor para Nombre de Usuario."
                    data-optionality="required"
                    data-validation="true"
                    id="username"
                    name="username"
                    type="text"
                    class="form-control"
                    placeholder="Ingrese su usuario"
                    autocomplete="username"
                  >
                </div>
              </div>
  
              <div class="t-beaneditor-row">
                <label for="password" class="control-label">Contraseña:</label>
                <div class="input-wrapper">
                  <input
                    v-model="password"
                    data-required-message="Tiene que ingresar un valor para Contraseña."
                    data-optionality="required"
                    data-validation="true"
                    value=""
                    id="password"
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="Ingrese su contraseña"
                    autocomplete="current-password"
                  >
                </div>
              </div>
  
              <div class="button-row">
                <button 
                  type="submit" 
                  class="btn btn-primary"
                  :disabled="isLoading"
                  id="submit_0"
                  name="submit_0"
                >
                  {{ isLoading ? 'Verificando...' : 'Acceder' }}
                </button>
                &nbsp;&nbsp;
                <a href="#" @click.prevent="forgotPassword" class="forgot-link">
                  Olvidé mi contraseña
                </a>
              </div>
            </fieldset>
          </form>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>
  
    <!-- Footer con sombras -->
    <div id="contenedor-sombras-pie">
      <!-- Banner de redes sociales -->
      <div id="pie-banners">
        <span class="sombra-izquierda"></span>
        <span class="sombra-derecha"></span>
        <div id="ciencias-en">
          Ciencias en:
          <a title="Facebook" href="https://www.facebook.com/pages/Facultad-de-Ciencias/214278861928417" target="_blank">
            <img src="/assets/Images/icons/facebook.png" width="16" height="16" class="image-text" alt="Facebook">
            Facebook
          </a>
          <a title="Twitter" href="http://twitter.com/#!/fciencias" target="_blank">
            <img src="/assets/Images/icons/twitter.png" width="16" height="16" class="image-text" alt="Twitter">
            Twitter
          </a>
          <a title="Youtube" href="http://www.youtube.com/user/unamciencias" target="_blank">
            <img src="/assets/Images/icons/youtube_top.png" width="16" height="16" class="image-text" alt="Youtube">
            Youtube
          </a>
        </div>
      </div>
    </div>
  
    <!-- Pie de derechos -->
    <div id="pie-derechos">
      <p>
        Hecho en México, todos los derechos reservados 2011-2016. 
        Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, 
        se cite la fuente completa y su dirección electrónica. De otra forma requiere permiso previo 
        por escrito de la Institución.
      </p>
      <div id="administrado">
        <p>
          Sitio web administrado por la Coordinación de los Servicios de Cómputo de la Facultad de Ciencias. 
          ¿Dudas?, ¿comentarios?.
          <a href="mailto:webmaster@ciencias.unam.mx">Escribenos</a>.
          <a href="http://www.fciencias.unam.mx/Privacidad.pdf">Aviso de privacidad</a>.
        </p>
      </div>
    </div>
  </div>
  