# pyspark/requirements.txt
# Dependencias mínimas necesarias para análisis de votaciones

# MongoDB connector para Python
pymongo==4.6.1

# Lectura de archivos Parquet
#pyarrow==14.0.2
fastparquet==2023.10.1

#Analisis de informacion
tensorflow>=2.13.0,<2.20
